.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  width: 100%;
}

.c3-line,
.c3-line-View-Content {
  fill: transparent;
}

.cellDate {
  width: 110px;
}

.cellNumber {
  width: 110px;
  text-align: right;
}
